<nav id="navboot" class="navbar navbar-expand-lg fixed-top purple">
  <div class="container-fluid purple">
    <img src="res/img/logo_twitch.jpg" width="100px" height="100px" class="img-fluid" alt="Logo site">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img width="48" height="48" src="https://img.icons8.com/pulsar-gradient/48/menu.png" alt="menu"/>     
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  me-auto mb-2 mb-lg-0" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link text-hover" id="home-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-hover" id="galerie-link" href="galerie.html">Galerie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-hover" id="discover-link" href="discover.html">Discover a streamer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-hover" id="contact-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="mt-5 py-5">
</div> 
