<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>Email: <a href="mailto:nicolas.ainouz.pro@gmail.com" class="text-light">nicolas.ainouz.pro@gmail.com</a></p>
                <p>Phone: +33 6 40 72 17 97</p>
                <p>Address: 123 Rue Exemple, Paris, France</p>
            </div>
            
            <div class="col-md-4">
                <h5>Follow Me</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.linkedin.com/in/nicolas-ainouz" class="text-light">LinkedIn</a></li>
                </ul>
            </div>
            
            <div class="col-md-4">
                <h5>Information</h5>
                <ul class="list-unstyled">
                    <li><a href="https://policies.google.com/privacy?hl=en-US" class="text-light" target="_blank">Privacy Policy and Terms</a></li>
                    <li><a href="https://policies.google.com/technologies/cookies?hl=en" class="text-light" target="_blank">Cookie Policy</a></li>
                </ul>
            </div>
        </div>
        
        <div class="text-center mt-4">
            <p>&copy; 2025 Nicolas AINOUZ. None rights reserved.</p>
        </div>
        
        <div class="text-center mt-4">
            <a href="#top" class="btn btn-light">Back to Top</a>
        </div>
    </div>
</footer>